/* Pour pouvoir utiliser une hnom (height) ou une hnom minimale
   (min-height) sur un bloc, il faut que son parent direct ait lui-même une
   hnom déterminée (donc toute valeur de height sauf "auto": hnom en
   pixels, em, autres unités...).
   Si la hnom du parent est en pourcentage, elle se réfère alors à la
   hnom du «grand-père», et ainsi de suite.
   Pour pouvoir utiliser un "min-height: 100%" sur div#global, il nous faut:
   - un parent (body) en "height: 100%";
   - le parent de body également en "height: 100%". */
html, body {
    height: 100%;
}

body {
    color: #bfbfbf;
    background: black;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
    color: white;
}

.nomSite_de_ruines {
    margin-bottom : 0px;
}

#global {
    /*    min-height: 100%;  /* Voir chose_a_faire sur html et body plus haut */
    background: #333534;
    width: 70%;
    margin: auto;	/* Permet de centrer la div */
    text-align: justify;
    padding: 5px 20px;
}

#contenu {
    margin-bottom : 30px;
}

#nomBlog, #piedBlog {
    text-align: center;
}

#nomReponses {
    font-size : 100%;
}
.message{
    color : green;
}
.erreur{
    color : red;
}
.efface{
    color : olive;
}
.prive{
    font-style: italic;
}